<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <app-toolbar *ngIf="userIsLogged()" (newSidenavEvent)="toggleSidebar($event)" [isMobileView]="isButtonActive()">
  </app-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      *ngIf="userIsLogged()"
      #nav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches">
      <mat-nav-list>
        <a *ngFor="let nav of fillerNav" mat-list-item [routerLink]="nav.navigation">{{ nav.title }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
