.login-widget {
  //display: flex;
  //  justify-content: center;
  // width: 80%;
  // text-align: center;
}

.full-width {
  width: 100%;
  margin-top: 1rem;
}

.social-login-header {
  text-align: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
}

.social-button {
  margin: 1rem 1rem 4rem 1rem;
}

.remember-button {
  font-size: 0.85em;
}

.forgot-button {
  float: right;
}

.login-button {
  margin-top: 4rem;
  float: right;
}
